<div id="user" ng-init="getReaderList()">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-xs-12 col-md-1 mb-10">
					<button class="btn btn-green width-100" ng-click="openReaderModal()" type="button">Thêm</button>
				</div>
				<div class="col-xs-12 col-md-3 mb-10">
					<input ng-change="getReaderList()" type="text" ng-model="filter.typing" placeholder="Tìm theo tên, số điện thoại" class="form-control">
				</div>
				<div class="col-xs-12 col-md-3 mb-10">
					<select class="form-control" ng-model="filter.actived" ng-change="getReaderList()" convert-to-number>
						<option value="0">Không hoạt động</option>
						<option value="1">Đang hoạt động</option>
					</select>
				</div>
				<div class="col-xs-12 col-md-2 mb-10">
					<facutly-select ng-model="filter.facutly" ng-change="getReaderList()"></facutly-select>
				</div>
				<div class="col-xs-12 col-md-3 mb-10">
				<span class="pull-right count">Tổng số: {{ readerCount }}</span>
					<ul uib-pagination class="m-0 pull-right" total-items="readerCount" force-ellipses="true" items-per-page="filter.limit" ng-model="filter.currentPage" direction-links="false" ng-change="changePage()"></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped">
				<colgroup>
			     <col class="width-15 hidden-xs">
			     <col class="width-10 hidden-xs">
			     <col class="text-center width-10 hidden-xs">
			     <col class="text-center width-20 hidden-xs">
			     <col class="text-center width-8 hidden-xs">
			     <col class="text-center width-15 hidden-xs">
			     <col class="text-center width-14 hidden-xs">
			     <col class="text-center width-8 hidden-xs">
			     <col class="text-center width-40 hidden-sm hidden-md hidden-lg">
			     <col class="text-center width-35 hidden-sm hidden-md hidden-lg">
			     <col class="text-center width-25 hidden-sm hidden-md hidden-lg">
			  </colgroup>
				<thead>
					<th>Họ và tên</th>
					<th>Số điện thoại</th>	
					<th class="hidden-xs">Lượt mượn</th>				
					<th class="hidden-xs">Khoa</th>	
					<th class="hidden-xs">Giới tính</th>	
					<th class="hidden-xs">Ghi chú</th>	
					<th></th>	
				</thead>
				<tbody>
					<tr ng-repeat = "reader in readerList track by $index">
						<td> 
							<span>
							 	{{ reader.name }} 
								<text ng-show="reader.is_user">(CLB)</text>
							</span> 
						</td>
						<td> {{ reader.mobile | tel }} </td>
						<td class="hidden-xs"> <span>{{ reader.borrow_time }}</span> </td>
						<td class="hidden-xs"> <span> {{ facutlyList[reader.facutly] }} </span> </td>
						<td class="hidden-xs"><gender-html ng-model="reader.gender"></gender-html></td>
						<td class="hidden-xs"> <span>{{ reader.note }}</span> </td>
						<td class="text-center">
							<button class="btn btn-blue" ng-click="openReaderModal(reader.id)" type="button">Sửa</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
