<form class="form" name="readerForm" ng-submit="saveReader()" novalidate>
<div class="modal-header modal-primary">
	<b ng-show="!readerInfo.id">Thêm bạn đọc</b>
	<b ng-show="readerInfo.id">Chỉnh sửa thông tin bạn đọc</b>
	<button type="button" class="close" ng-click="createReaderModalInstance.close()">&times;</button>
</div>
<div class="modal-body">
	<form class="form">
		<div class="row mb-10">
			<div class="col-md-12">
				<error error-message="error" ng-show="error" class="pull-right"></error>
			</div>
		</div>
		<div class="row mb-10">
			<div class="label-control col-md-4 required-field">Tên bạn đọc</div>
			<div class="col-md-8">
				<input type="text" class="form-control" ng-model="readerInfo.name" name="readerName" required>
				<span class="validation-error-label" ng-show="readerForm.readerName.$touched && readerForm.readerName.$invalid"> Vui lòng nhập tên bạn đọc</span>
			</div>
		</div>
		<div class="row mb-10">
			<div class="label-control col-md-4 required-field">Số điện thoại</div>
			<div class="col-md-8">
				<input type="text" ng-model="readerInfo.mobile" name="readerMobile" class="form-control" minLength="10" mobile-format required>
				<span class="validation-error-label" ng-show="readerForm.readerMobile.$touched && readerForm.readerMobile.$invalid"> Số điện thoại chưa đúng định dạng </span>
			</div>
		</div>
		<div class="row mb-10">
			<div class="label-control col-md-4">Giới tính</div>
			<div class="col-md-8">
				<gender-select ng-model="readerInfo.gender"></gender-select>
			</div>
		</div>
		<div class="row mb-10">
			<div class="label-control col-md-4">Khoa</div>
			<div class="col-xs-8 col-md-5">
				<facutly-select ng-model="readerInfo.facutly_id" edit-mode="true"></facutly-select>
			</div>
			<div class="label-control col-xs-1 col-md-1 text-right p-0">K.</div>
			<div class="col-xs-3 col-md-2">
				<input type="number" class="form-control" ng-model="readerInfo.course">
			</div>
		</div>
		<div class="row mb-10" ng-show="readerInfo.facebook_id">
			<div class="label-control col-md-4">Facebook ID:</div>
			<div class="label-control col-md-8"> {{ readerInfo.facebook_id }}</div>
		</div>
		<div class="row mb-10">
			<div class="label-control col-md-4">Ghi chú</div>
			<div class="col-md-8">
				<textarea class="form-control" ng-model="readerInfo.note"></textarea>
			</div>
		</div>
		<div class="row">
			<label class="label-control col-md-4 text-normal">Trạng thái</label>
			<div class="col-md-8 div-form">
				<span class="mr-20">
					<label class="cursor-pointer text-normal" for="actived1">Kích hoạt</label>
					<input type="radio" class="cursor-pointer" id="actived1" ng-model="readerInfo.actived" name="actived" ng-value="1">
				</span> 
				<span>
					<label class="cursor-pointer text-normal" for="actived0">Khóa</label> 
					<input type="radio" class="cursor-pointer" id="actived0" name="actived" ng-model="readerInfo.actived" ng-value="0">
				</span>
			</div>
		</div>
</div>
<div class="modal-footer">
	<button class="btn btn-green" type="submit" ng-disabled="readerForm.$invalid"><i class="fa fa-save"></i> Lưu</button>
	<button class="btn btn-white" type="button" ng-click="createReaderModalInstance.close()">Hủy</button>
</div>
</form>