<div class="modal-header modal-primary">
	<b>Quản lý loại sách</b>
	<button type="button" class="close" ng-click="bookTypeInstance.close()">×</button>
</div>
<div class="modal-body">
	<div ng-show="bookTypeMode =='VIEW'">
		<button class="btn btn-green mb-10" ng-click="editBookType();"><i class="fa fa-plus"></i> Thêm loại</button>
		<form class="form">
			<div class="row mb-10">
				<div class="col-md-12">
					<table class="table table-bordered table-striped">
						<colgroup>
				     <col class="width-15 hidden-xs">
				     <col class="text-center width-40 hidden-xs">
				     <col class="text-center width-30 hidden-xs">
				  </colgroup>
						<tr>
							<th class="hidden-xs">ID</th>
							<th>Tên loại</th>
							<th>Trạng thái</th>
							<th></th>
						</tr>
						<tr ng-repeat="type in bookTypeList track by $index">
							<td class="hidden-xs">{{ type.id }}</td>
							<td>{{ type.name }}</td>
							<td>
								<span ng-show="type.actived">Kích hoạt</span>
								<span ng-show="!type.actived">Khóa</span>
							</td>
							<td>
								<button class="btn btn-blue" ng-click="editBookType(type.id)">Sửa</button>
							</td>
						</tr>
					</table>
					<div ng-if="!bookTypeList.length" class="max-height text-center p-10" style="border: 1px solid #a2cfff">
							Không có dữ liệu nào trong bảng
					</div>
				</div>
			</div>
		</form>
	</div>
	<div ng-if="bookTypeMode != 'VIEW'">
		<form class="form" name="borrowBookForm" ng-submit="saveBookType()">
		<div class="row mb-10">
			<div class="label-control col-md-4 required-field">Tên loại</div>
			<div class="col-md-8">
				<input type="text" class="form-control" ng-model="bookTypeInfo.name" name="borrowBookName" required>
				<span class="validation-error-label" ng-show="borrowBookForm.borrowBookName.$touched && borrowBookForm.borrowBookName.$invalid"> Bạn chưa nhập tên loại </span>
			</div>
		</div>
		<div class="row mb-20"">
			<label class="label-control col-md-4 text-normal">Trạng thái</label>
			<div class="col-md-8 div-form">
				<span class="mr-20">
					<label class="cursor-pointer text-normal" for="actived1">Kích hoạt</label>
					<input type="radio" class="cursor-pointer" id="actived1" ng-model="bookTypeInfo.actived" name="actived" ng-value="1">
				</span> 
				<span>
					<label class="cursor-pointer text-normal" for="actived0">Khóa</label> 
					<input type="radio" class="cursor-pointer" id="actived0" name="actived" ng-model="bookTypeInfo.actived" ng-value="0">
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<button type="submit" ng-disabled="borrowBookForm.$invalid" class="btn btn-green width-100px btn-label pull-right">
					<b class="fa fa-save"></b> Lưu
				</button>
			</div>
			<div class="col-md-6">
				<button type="button" class="btn btn-white pull-left" ng-click="backBookType()">Trở lại</button>
			</div>
		</div>
		</form>
	</div>
</div>