<div id="bookPage" ng-init="getBookList()">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-xs-6 col-md-1 mb-10">
					<button class="btn btn-green width-100" ng-click="openBookModal()" type="button">Thêm</button>
				</div>
				<div class="col-xs-6 col-md-1 mb-10">
					<button class="btn btn-blue width-100" ng-click="openBookType()">Loại sách</button>
				</div>
				<div class="col-xs-12 col-md-3 mb-10">
					<input ng-change="getBookList()" type="text" ng-model="filter.typing" placeholder="Tìm tên sách" class="form-control">
				</div>
				<div class="col-xs-12 col-md-2 mb-10">
					<book-type-select ng-model="filter.type_id" ng-change="getBookList()"></book-type-select>
				</div>
				<div class="col-xs-12 col-md-2 mb-10">
					<select class="form-control" ng-model="filter.status" ng-change="getBookList()" convert-to-number>
						<option value="0">Tất cả sách</option>
						<option value="1">Sách hiện có</option>
						<option value="2">Sách đang dùng</option>
						<option value="3">Sách trong kho</option>
						<option value="4">Sách đã hủy</option>
					</select>
				</div>
				<div class="col-md-3 mb-10">
					<span class="pull-right count">Tổng số: {{ bookCount }}</span>
					<ul uib-pagination class="m-0 pull-right" total-items="bookCount" force-ellipses="true" items-per-page="filter.limit" ng-model="filter.currentPage" direction-links="false" ng-change="changePage()"></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped">
				<colgroup>
			     <col class="width-20 hidden-xs">
			     <col class="text-center width-15 hidden-xs">
			     <col class="text-center width-15 hidden-xs">
			     <col class="text-center width-30 hidden-xs">
			     <col class="text-center width-8 hidden-xs">
			     <col class="text-center width-8 hidden-xs">
			     <col class="text-center width-8 hidden-xs">
			     <col class="text-center width-75 hidden-sm hidden-md hidden-lg">
			     <col class="text-center width-25 hidden-sm hidden-md hidden-lg">
			  </colgroup>
				<thead>
					<th>Tên sách</th>				
					<th class="hidden-xs">Thể loại</th>	
					<th class="hidden-xs">Tác giả</th>	
					<th class="hidden-xs">Giới thiệu</th>	
					<th class="hidden-xs">Sử dụng</th>	
					<th class="hidden-xs">Trong kho</th>	
					<th></th>	
				</thead>
				<tbody>
					<tr ng-repeat = "book in bookList track by $index">
						<td class="text-center" style="padding: 5px;">
						 	<div class="pull-left hidden-xs mr-5">
								<book-img ng-model="book.image" av-size="40"></book-img>
							</div>
							<span class="ml-10 text-left" style="margin-top: 15px"> {{ book.name }}</span>
						</td>
						<td class="text-center hidden-xs"> {{ book.type_name }} </td>
						<td class="text-center hidden-xs" > <span>{{ book.author }}</span> </td>
						<td class="hidden-xs"> <span> {{ book.intro }} </span> </td>
						<td class="text-center hidden-xs" > <span>{{ book.use_quantity }}</span> </td>
						<td class="text-center hidden-xs" > <span>{{ book.inventory_quantity }}</span> </td>
						<td class="text-center">
							<button class="btn btn-blue" ng-click="openBookModal(book.id)" type="button">Sửa</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div ng-if="!bookTypeList.length" class="max-height text-center p-10" style="border: 1px solid #a2cfff">
				Không có dữ liệu nào trong bảng
			</div>
		</div>
	</div>
</div>
