<div class="bg-white">
	<label style="border: 1px solid #ddd" for="uploadImg" ng-show="ngModel" class='cursor-pointer' ng-model="ngModel" id="directiveAvatar" ng-style="imgStyle">
		<div ng-show="avUpload" class="iconForDirectiveBook">
			<i class="fa fa-upload"></i>
		</div>
	</label>
	<label ng-show="!ngModel" for="uploadImg" id="noImgDisplay" class='cursor-pointer' ng-style='imgStyle'>
		<div ng-show="avUpload" class="iconForDirectiveBook">
			<i class="fa fa-upload"></i>
		</div>
		<i class="glyphicon glyphicon-book" ng-style="iconStyle"></i>
	</label>	
</div>
