/* Padding */
	.pl-5 { padding-left: 5px; }
	.pl-0 { padding-left: 0 }
	.pr-0 { padding-right: 0 }
	.pr5 { padding-right: 5px }
	.pr-5 { padding-right: 5px }
	.plr5 { padding-right: 5px; padding-left: 5px; }
	.plr5 { padding-right: 5px; padding-left: 5px; }
	.plr-10 { padding-right: 10px; padding-left: 10px; }
	.pl-10{padding-left: 10px}
	.p-0{padding: 0}
	.p-3{ padding: 3px }
	.p-5{padding: 5px}
	.p-20{padding: 20px}
	.p-10{padding: 10px}
	.pt-20{padding-top: 20px}
	.pb-10{padding-bottom: 10px}
	.pt-10{padding-top: 10px}

/* margin */
	.m-auto{ margin: auto; }
	.m-0{ margin: 0 }
	.mr-0 { margin-right: 0; }
	.mr-5 { margin-right: 5px; }
	.mr-10 { margin-right: 10px; }
	.mr-20 { margin-right: 20px; }
	.mr-30 { margin-right: 30px; }
	.mb-0 { margin-bottom: 0px; }
	.mb-5 { margin-bottom: 5px; }
	.mb-10 { margin-bottom: 10px; }
	.mb-20 { margin-bottom: 20px }
	.mt-0 { margin-top: 0px; }
	.mt-5 { margin-top: 5px; }
	.mt-10 { margin-top: 10px; }
	.mt-20 { margin-top: 20px; }
	.mb-30 { margin-bottom: 30px }
	.ml-5 { margin-left: 5px; }
	.ml-10 { margin-left: 10px; }
	.ml-15 { margin-left: 15px; }
	.ml-20 { margin-left: 20px; }
	.ml-25 { margin-left: 25px; }
	.ml-30 { margin-left: 30px; }

/* Position */
	.top-0 { top: 0 !important }

/* width */
	.max-width { width: 100% }
	.width-100 { width: 100% !important; }
	.width-90 { width: 90% !important; }
	.width-80 { width: 80% !important; }
	.width-70 { width: 70% !important; }
	.width-60 { width: 60% !important; }
	.width-50 { width: 50% !important; }
	.width-40 { width: 40% !important; }
	.width-30 { width: 30% !important; }
	.width-25 { width: 25% !important; }
	.width-20 { width: 20% !important; }
	.width-15 { width: 15% !important; }
	.width-10 { width: 10% !important; }
	.width-8 { width: 8% !important; }
	.width-5 { width: 5% !important; }
	.width-20px { width: 20px }
	.width-100px { width: 100px }

/* height */
.max-height, .height-100 {
	height: 100%
}

.display-none {
	display: none
}

.display-block {
	display: block;
}

.selectz option{
	height: 100px;
	padding: 20px 0;
	line-height: 100px;
}

/* border */
.br { border-right: 1px solid #ccc; }


.cursor-pointer { cursor: pointer; }
.point-e-n { pointer-events: none; }
.text-center{ text-align: center }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

.text-red { color: #ec2f29; }
.text-green { color: #27b527; }
.text-blue {color: #4da1ff}
.text-orange {color: #fdc000}

.text-cap { text-transform: uppercase; }
.text-bold { font-weight: bold; }
.text-normal { font-weight: normal; }
.text-cap-name { text-transform: capitalize; }

.bg-red { background: #ec2f29; color: #FFF; }
.bg-green { background: #27b527; color: #FFF; }
.bg-blue {background: #4da1ff; color: #FFF;}
.bg-white {background: #FFF}
.bg-gray-ec {background: #ececec}
.bg-gray-69 {background: #696969}
.bg-gray-33 {background: #333}

.bg-orange {
	background: #fdc000;
	border: 1px solid #fdc000;
	color: #000000 !important;
}

.btn-icon {
	width: 35px;
	padding: 0 !important;
	height: 34px;
	line-height: 34px;
}

.btn-green, .btn-green:hover {
	background: #27b527;
	border: 1px solid #27b527;
	color: white;
}

.btn-blue, .btn-blue:hover {
	background: #4da1ff;
	border: 1px solid #4da1ff;
	color: white;
}

.btn-red, .btn-red:hover {
	background: #ec2f29;
	border: 1px solid #ec2f29;
	color: white;
}

.btn-white, .btn-white:hover, .btn-white:focus {
	background: #FFFFFF;
	border: 1px solid #ccc;
	color: #000000 !important;
}

.btn-orange, .btn-orange:hover, .btn-orange:focus {
	background: #fdc000;
	border: 1px solid #fdc000;
	color: #000000 !important;
}


.clear-both { clear: both }
.clear { clear: both }

.font-10 { font-size: 10px }
.font-11 { font-size: 11px }
.font-12 { font-size: 12px }
.font-13 { font-size: 13px }
.font-14 { font-size: 14px }
.font-15 { font-size: 15px }
.font-16 { font-size: 16px }
.font-17 { font-size: 17px }
.font-18 { font-size: 18px }
.font-19 { font-size: 19px }
.font-20 {font-size: 20px}

.tags {
	display: inline-block;
	height: 34px;
	border: 1px solid #ccc;
	line-height: 34px;
	vertical-align: middle;
	text-align: center;
	padding: 0 10px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.tags i {
	margin-left: 5px;
	cursor: pointer;
}

.border-gray{
	border: 1px solid #ccc;
}
.border-blue {
	border: 1px solid #4da1ff;
}

.hr-50 {
	background: #ccc;
	width: 50%;
	height: 1px;
	margin: 0 auto;
}

.hr-80 {
	background: #ccc;
	width: 80%;
	height: 1px;
	margin: 0 auto;
}

.div-form {
	line-height: 34px;
	height: 34px;
	vertical-align: middle;
}

.loading {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    border-top: 5px solid #4da1ff;
		border-right: 5px solid #ccc;
		border-bottom: 5px solid #ccc;
		border-left: 5px solid #ccc;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10000;
		margin-top: -100px;
		margin-left: -25px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}