<div class="modal-header modal-primary">
	<b>Tạo ban mới</b>
	<button type="button" class="close" ng-click="openDepartmentModalInstance.close()">&times;</button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="label-control col-md-4">Tên ban</div>
		<div class="label-control col-md-8">
			<input type="text" class="form-control" ng-model="departmentInfo.name">
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-green" ng-disabled="!departmentInfo.name" ng-click="saveDepartment()">Lưu</button>
	<button type="button" class="btn btn-white" ng-click="openDepartmentModalInstance.close()">Hủy</button>
</div>