<div class="modal-header modal-primary">
	<b>Thông tin thành viên</b>
</div>
<div class="modal-body">
		<div class="row">
			<div class="label-control col-xs-4">Họ và tên:</div>
			<div class="label-control col-xs-8">{{userInfo.name}}</div>
		</div>
		<div class="row">
			<div class="label-control col-xs-4">Chức vụ:</div>
			<div class="label-control col-xs-8"> <position-html ng-model="userInfo.position_id"></position-html> ( Ban <department-html ng-model="userInfo.department_id"></department-html>)</div>
		</div>
		<div class="row">
			<div class="label-control col-xs-4">Liên hệ:</div>
			<div class="label-control col-xs-8">{{userInfo.mobile}}</div>
		</div>
		<hr>
		<div class="row">
			<div class="label-control col-xs-4">Tên tài khoản:</div>
			<div class="label-control col-xs-8">{{userInfo.account}}</div>
		</div>
		<div class="row">
			<div class="label-control col-xs-4">Sinh nhật:</div>
			<div class="label-control col-xs-8">{{userInfo.dob_date}}/{{userInfo.dob_month}}/{{userInfo.dob_year}}</div>
		</div>
		<div class="row">
			<div class="label-control col-xs-4">Giới tính:</div>
			<div class="label-control col-xs-8">
				<gender-html	ng-model="userInfo.gender"></gender-html>
			</div>
		</div>
		<div class="row">
			<div class="label-control col-xs-4">Khoa:</div>
			<div class="label-control col-xs-8"><facutly-html ng-model="userInfo.facutly_id"></facutly-html> - K{{userInfo.course}}</div>
		</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-white" ng-click="openUserInfoModalInstance.close()">Đóng</button>
</div>