<div id="dashboard">
	<div class="row height-100">
		<div class="col-md-8 height-100">
			<div class="row">
				<div class="col-md-4">
					<div class="top1main" style="background: #50af00; cursor: pointer;" ng-click="gotoPage('borrow')">
						<i class="glyphicon glyphicon-star background-icon"></i>
						<div class="title">
							Mượn sách
						</div>
						<div class="content">
								{{ headerData.borrow_count }} <span class="font-16"> lượt</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="top1main" style="background: #ff7b00; cursor: pointer;" ng-click="gotoPage('book')">
						<i class="glyphicon glyphicon-book background-icon" style="font-size: 120px; top: 10px;"></i>
						<div class="title">
							Sách
						</div>
						<div class="content">
							<div class="number">
								{{ headerData.book_count }} <span class="font-16"> quyển </span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="top1main" style="background: #c336bc; cursor: pointer;" ng-click="gotoPage('reader')">
						<i class="fa fa-user background-icon"></i>
						<div class="title">
							Bạn đọc
						</div>
						<div class="content">
							<div class="number">
								{{ headerData.reader_count }} <span class="font-16"> bạn </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div  style="height:calc(100% - 112px);">
				<div class="row height-50 chart-main"> 
					<div class="col-md-8 height-100">
						<div class="report-borrow-chart" style="height: 100%">
							<canvas id="bar" class="chart chart-bar" chart-data="borrow.data" chart-labels="borrow.title" chart-series="borrow.series" chart-options="options" ></canvas>
						</div>
					</div>
					<div class="col-md-4 height-100">
						<b class="text-blue">Tháng này</b><br>
						Lượt mượn: <b>{{ borrow.total }}</b> <br>
						Sách mượn: <b>{{borrow.borrow_book_count}}</b> <br>
						Mượn nhiều nhất: <b>{{borrow.max_borrow_reader.reader_name}} ({{ borrow.max_borrow_reader.times }} lượt)</b><br>
					</div>
				</div>
				<div class="row height-50 chart-main pull-left" style="width: calc(50% - 5px); margin-right: 5px">
					<div class="col-md-12 height-100">
						<b class="text-blue" style="position: absolute; top: 0">Bạn đọc</b>
						<div class="report-borrow-chart" style="height: 100%">
							<canvas id="pie" class="chart chart-pie" chart-data="reader.data" chart-labels="reader.title"  chart-options=" { cutoutPercentage: 0 }" ></canvas>
						</div>
					</div>
				</div>
				<div class="row height-50 chart-main pull-left"  style="width: calc(50% - 5px); margin-left: 5px">
					<div class="col-md-12 height-100">
						<b class="text-blue" style="position: absolute; top: 0">Sách</b>
						<div class="report-borrow-chart" style="height: 100%">
							<canvas id="pie" class="chart chart-pie" chart-data="book.data" chart-labels="book.title"  chart-options=" { cutoutPercentage: 0 }" ></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4" id="side">
			<div class="sidebar">
				<div class="action" ui-sref="profile">
					<div class="icon">
						<i style="font-size: 60px" class="fa fa-user-circle-o"></i><br>
					</div>
					<span class="title"> Thông tin cá nhân </span>
				</div>
				<div class="action" ui-sref="help">
					<div class="icon">
						<i style="font-size: 70px" class="fa fa-question-circle-o"></i><br>
					</div>
					<span class="title"> Trợ giúp </span>
				</div>
				<div class="footer">
					<div>BAManager Beta - Phiên bản 0.1</div>
				</div>		
			</div>
		</div>
	</div>
</div>