<!DOCTYPE html>
	<style type="text/css">
		#home {
			height: 100%;
			font-size: 16px;
			color: #FFFFFF;
		}

		#home > container-fluid > section > .row {
			padding: 10px;
			color: #FFFFFF;
		}

		#home .title-icon {
			border-radius: 50%;
			width: 60px;
			height: 60px;
			line-height: 60px;
			border: 2px solid #FFF;
			display: inline-block;
			float: left;
			position: relative;
			overflow: hidden;
		}

		#home .title-icon i {
			position: absolute;
			font-size: 50px;
			top: 15px;
			left: 0px;
		}

		#home .title .title-content {
			display: inline-block;
			line-height: 50px;
			vertical-align: middle;
			padding: 5px;
			padding-left: 20px;
			font-size: 20px;
		}

		#home .title .title-art {
			float: right;
			line-height: 50px;
			vertical-align: middle;
			padding: 5px;
		}

		#home .content {
			text-indent: 20px;
			text-align: justify;
		}

		#fp-nav ul li:nth-child(1) a.active span, 
		#fp-nav ul li:nth-child(1):hover a.active span, #fp-nav ul li a span, .fp-slidesNav ul li a span{
		    background:#FFFFFF;
		}
		#fp-nav ul li:nth-child(2) a.active span, 
		#fp-nav ul li:nth-child(2):hover a.active span, #fp-nav ul li a span, .fp-slidesNav ul li a span{
		    background:#FFFFFF;
		}

		.image {
			border-radius: 3px;
			background: #FFF;
			padding: 5px;
		}

		.image > .content {
			text-indent: 0 !important;
			overflow-y: hidden;
			max-height: 300px;
			width: 100%;
		}

		.image img {
			width: 100%;
		}

		@media(max-width: 767px) {
			#home {
				font-size: 14px;
				color: #000000;
			}

			#home .title-icon {
			border-radius: 50%;
			width: 60px;
			height: 60px;
			line-height: 60px;
			border: 2px solid #000;
			display: inline-block;
			float: left;
			position: relative;
			overflow: hidden;
		}

		}

	</style>

	<div id="home">
		<div class="section">
			<div class="container-fluid">
				<div class="row" id="bookMain">
					<div class="col-xs-12 col-md-8">
						<div class="title mb-10">
							<div class="title-icon">
								<i class="glyphicon glyphicon-book"></i>
							</div>
							<div class="title-content">
								Đắc nhân tâm
							</div>				
						</div>
						<div class="content">
								Đắc nhân tâm có tên tiếng Anh là How to win friends and Influence people. Đây là cái tên được Victor O. Schwab, một nhà viết quảng cáo nổi tiếng, đặt cho quyển sách viết về 30 nguyên tắc vàng trong đối nhân xử thế của Dale Carnegie. Và cũng từ đó, cái tên Đắc nhân tâm và Dale Carnegie đã được lưu truyền rộng rãi trên toàn cầu. Tại Việt Nam, Đắc nhân tâm đã tồn tại được hơn nửa thế kỷ thế nhưng tầm ảnh hưởng của nó vẫn tiếp tục lan rộng và làm thay đổi cuộc đời của rất nhiều người.Trong quyển sách Developing Management Skills, có đoạn tác giả Kim S. Cameron viết rằng “Mặc dù tất cả mọi thứ trong môi trường sống của chúng ta đã và đang thay đổi, vẫn có một vài thứ đã được giữ lại, và tiếp tục duy trì, tương đối ổn định. Với những sự thay đổi nhỏ và sự khác biệt về phong cách, những gì đã không thay đổi trong hàng ngàn năm qua là các kỹ năng cơ bản nằm ở trung tâm của sự hiệu quả, sự hài lòng, sự phát triển mối quan hệ giữa con người. Tự do, chân giá trị, lòng tin, tình yêu, và trung thực trong các mối quan hệ luôn luôn là một trong những mục tiêu của con người, và những nguyên tắc này cũng sẽ mang lại kết quả tương tự nhau dù là thế kỉ XI hay thế kỉ XXI”. Rõ ràng mọi thứ có thể thay đổi theo thời gian nhưng những giá trị sống của con người thì gần như vẫn vậy. Đó cũng là lí do tại sao những nguyên tắc trong Đắc nhân tâm vẫn còn lưu giữ được giá trị của mình cho đến tận ngày nay. Quyển sách bao gồm 30 nguyên tắc được phân chia thành 4 phần cơ bản:
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
				    <div class="image">
				    	<div class="content">
				    		<img src="uploads/book/book_6_2018-02-01T17:22:04.501Z.jpg">
				    	</div>
				    </div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container-fluid">
				<div class="row" id="actionMain">
					<div class="col-xs-12 col-md-4">
				    <div class="image">
				    	<div class="content">
				    		<img src="uploads/event/test.jpg">
				    	</div>
				    </div>
					</div>
					<div class="col-xs-12 col-md-8">
						<div class="title mb-10">
							<div class="title-icon pull-right">
								<i class="fa fa-flash" style="font-size: 60px; top: 10px; left: 15px;"></i>
							</div>
							<div class="title-content pull-right" style="padding-right: 20px;">
								Tri ân
							</div>				
							<div class="clear"></div>
						</div>
						<div class="content">
								Ai sinh ra trên đời mà chẳng phải có nguồn cội của mình. CLB Sách và Hành động HUMG cũng vậy. Vì thế nên thế hệ sau đã quyết định tri ân các anh chị - những người đã đặt nền móng và gây dựng nên B&A HUMG của hôm nay. :) 
								Chân thành cảm ơn các anh, chị đã giành thời gian quay lại trường và dự buổi tri ân với CLB.
								Mong rằng sẽ luôn có những thành viên nhiệt huyết và đáng yêu như các anh, chị để CLB ngày càng lớn mạnh hơn nữa.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-md-8">
						<div class="title mb-10">
							<div class="title-icon">
								<i class="fa fa-pencil-square-o" style="font-size: 50px; top: 15px; left: 5px;"></i>
							</div>
							<div class="title-content">
								Cảm xúc buổi tri ân
							</div>				
							<div class="title-art">
								<i>- Đỗ Tiến Thịnh -</i>
							</div>
						</div>
						<div class="content">
								Tình hình là tớ đọc xong quyển này rồi. Cơ mà thấy nhiều đứa chưa ghi hay chưa được ghi nên là lúc nào t về các bạn ghi vào nhé. Nhớ các bạn lắm
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
				    <div class="image">
				    	<div class="content">
				    		<img src="uploads/event/test3.jpg">
				    	</div>
				    </div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container-fluid height-100">
				<div class="row height-100">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div class="title mb-10">
							<div class="title-icon">
								<i class="fa fa-info-circle" style="font-size: 50px; top: 15px; left: 5px;"></i>
							</div>
							<div class="title-content">
								Giới thiệu
							</div>				
						</div>
						<div class="content">
								Fanpage CLB Sách Và Hành Động ĐH Mỏ Địa Chất ra đời nhằm 3 nhiệm vụ chính:<br>
								1. CLB sẽ huy động một nguồn lớn sách từ các nhà hảo tâm liên quan đến các vấn đề chính trị,kinh tế,xã hội,kinh doanh,nấu ăn,tiểu thuyết,... để cho các bạn sinh viên mượn miễn phí ngay trong khuôn viên trường.<br>
								2. Trên fan page clb sẽ chia sẻ tất cả các hoạt động,event của các trường ĐH khác trên HÀ NỘi Như ĐH Ngoại Thương, ĐH Kinh tế Quốc Dân..., các đại sứ quán, các tổ chức phi chính phủ như YVS Hanoi, Life B, Chạy xuyên Việt... liên quan đến các vấn đề tình nguyện,kinh doanh, từ thiện,học tập,trao đổi văn hóa,nghệ thuật,âm nhạc.....để những bạn sinh viên Mỏ nào trong trường có mong muốn tham gia thì sẽ có được thông tin.<br>
								3. Tổ chức các talk show,các event tại trường,mời các doanh nhân,diễn giả và những người thành công trên con đường chính trị,kinh tế,lịch sử,văn học... đến để chia sẻ với sinh viên Mỏ Địa Chất để sinh viên Mỏ ngày càng học tập tốt,năng động và có những định hướng,suy nghĩ tích cực hơn trong cuộc sống.<br><br><br>
								Địa chỉ: Không gian sách - Sảnh C12 tầng<br>
								Liên hệ: 0123456789<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>