<!DOCTYPE html>
	<style type="text/css">
		#home {
			height: 100%;
			font-size: 16px;
			color: #FFFFFF;
		}

		#home > container-fluid > section > .row {
			padding: 10px;
			color: #FFFFFF;
		}

		#home .title-icon {
			border-radius: 50%;
			width: 60px;
			height: 60px;
			line-height: 60px;
			border: 2px solid #FFF;
			display: inline-block;
			float: left;
			position: relative;
			overflow: hidden;
		}

		#home .title-icon i {
			position: absolute;
			font-size: 50px;
			top: 15px;
			left: 0px;
		}

		#home .title .title-content {
			display: inline-block;
			line-height: 50px;
			vertical-align: middle;
			padding: 5px;
			padding-left: 45px;
			font-size: 20px;
			margin-left: -30px;
			width: calc(100% - 30px);
		}

		#home .title .title-art {
			float: right;
			line-height: 50px;
			vertical-align: middle;
			padding: 5px;
		}

		#home .content {
			text-indent: 20px;
			text-align: justify;
		}

		#home .section {
			padding-left: 40px;
			padding-right: 40px;
		}

		#fp-nav ul li:nth-child(1) a.active span, 
		#fp-nav ul li:nth-child(1):hover a.active span, #fp-nav ul li a span, .fp-slidesNav ul li a span{
		    background:#FFFFFF;
		}
		#fp-nav ul li:nth-child(2) a.active span, 
		#fp-nav ul li:nth-child(2):hover a.active span, #fp-nav ul li a span, .fp-slidesNav ul li a span{
		    background:#FFFFFF;
		}

		.image {
			border-radius: 3px;
			padding: 5px;
			height: 100%;
			width: 100%;
		}

		.image > .content {
			text-indent: 0 !important;
			overflow-y: hidden;
			height: 100%;
			width: 100%;
			padding: 10px;
		}

		.link-white, .link-white:hover, .link-white:visited, .link-white:active {
			color: #FFFFFF;
			text-decoration: underline;
		}

		.block-loading {
			cursor: wait;
			pointer-events: none;
		}

		@media(max-width: 767px) {
			#home {
				font-size: 14px;
				color: #000000;
			}

			#home .title-icon {
				border-radius: 50%;
				width: 60px;
				height: 60px;
				line-height: 60px;
				border: 2px solid #000;
				display: inline-block;
				float: left;
				position: relative;
				overflow: hidden;
			}
		}
	</style>

	<div id="home">
		<div class="section">
			<div class="container-fluid height-100">
				<div class="row height-100" id="bookMain">
					<div class="col-xs-12 col-md-6">
						<div class="title mb-10">
							<div class="title-icon" style="background: rgb(47, 161, 37); border: 3px solid #0f8206;">
								<i class="glyphicon glyphicon-book"></i>
							</div>
							<div class="title-content" id="bookName" style="background: linear-gradient(to right, #0f8206 , rgb(47, 161, 37));"></div>				
						</div>
						<div class="content" id="bookContent"></div>
						<div class="title-art pull-right"><i id="bookArt"></i></div>
					</div>
					<div class="col-xs-12 col-md-6 height-100">
				    <div class="image">
				    	<div class="content" id="bookImage">
				    	</div>
				    </div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="section">
			<div class="container-fluid">
				<div class="row" id="actionMain">
					<div class="col-xs-12 col-md-4 height-100">
				    <div class="image">
				    	<div class="content">
				    		<img src="uploads/event/test.jpg">
				    	</div>
				    </div>
					</div>
					<div class="col-xs-12 col-md-8">
						<div class="title mb-10">
							<div class="title-icon pull-right">
								<i class="fa fa-flash" style="font-size: 60px; top: 10px; left: 15px;"></i>
							</div>
							<div class="title-content pull-right" style="padding-right: 20px;">
								Tri ân
							</div>				
							<div class="clear"></div>
						</div>
						<div class="content">
								Ai sinh ra trên đời mà chẳng phải có nguồn cội của mình. CLB Sách và Hành động HUMG cũng vậy. Vì thế nên thế hệ sau đã quyết định tri ân các anh chị - những người đã đặt nền móng và gây dựng nên B&A HUMG của hôm nay. :) 
								Chân thành cảm ơn các anh, chị đã giành thời gian quay lại trường và dự buổi tri ân với CLB.
								Mong rằng sẽ luôn có những thành viên nhiệt huyết và đáng yêu như các anh, chị để CLB ngày càng lớn mạnh hơn nữa.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container-fluid height-100">
				<div class="row height-100">
					<div class="col-xs-12 col-md-6">
						<div class="title mb-10">
							<div class="title-icon">
								<i class="fa fa-pencil-square-o" style="font-size: 50px; top: 15px; left: 5px;"></i>
							</div>
							<div class="title-content">
								Cảm xúc buổi tri ân
							</div>				
							<div class="title-art">
								<i>- Đỗ Tiến Thịnh -</i>
							</div>
						</div>
						<div class="content">
								Tình hình là tớ đọc xong quyển này rồi. Cơ mà thấy nhiều đứa chưa ghi hay chưa được ghi nên là lúc nào t về các bạn ghi vào nhé. Nhớ các bạn lắm
						</div>
					</div>
					<div class="col-xs-12 col-md-6 height-100">
				    <div class="image">
				    	<div class="content" style='background: url("uploads/event/test3.jpg"); background-size: contain, background-repeat: no-repeat; background-position: center'>
				    	</div>
				    </div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="section">
			<div class="container-fluid height-100">
				<div class="row height-100">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div class="title mb-10">
							<div class="title-icon" style="background: rgb(65, 140, 252); border: 3px solid #2a66c1;">
								<i class="fa fa-info-circle" style="font-size: 50px; top: 15px; left: 5px;"></i>
							</div>
							<div class="title-content" style="background: linear-gradient(to right, #2a66c1 , rgb(65, 140, 252)">
								Giới thiệu
							</div>				
						</div>
						<div class="content">
								Fanpage CLB Sách Và Hành Động ĐH Mỏ Địa Chất ra đời nhằm 3 nhiệm vụ chính:<br>
								1. CLB sẽ huy động một nguồn lớn sách từ các nhà hảo tâm liên quan đến các vấn đề chính trị,kinh tế,xã hội,kinh doanh,nấu ăn,tiểu thuyết,... để cho các bạn sinh viên mượn miễn phí ngay trong khuôn viên trường.<br>
								2. Trên fan page clb sẽ chia sẻ tất cả các hoạt động,event của các trường ĐH khác trên HÀ NỘi Như ĐH Ngoại Thương, ĐH Kinh tế Quốc Dân..., các đại sứ quán, các tổ chức phi chính phủ như YVS Hanoi, Life B, Chạy xuyên Việt... liên quan đến các vấn đề tình nguyện,kinh doanh, từ thiện,học tập,trao đổi văn hóa,nghệ thuật,âm nhạc.....để những bạn sinh viên Mỏ nào trong trường có mong muốn tham gia thì sẽ có được thông tin.<br>
								3. Tổ chức các talk show,các event tại trường,mời các doanh nhân,diễn giả và những người thành công trên con đường chính trị,kinh tế,lịch sử,văn học... đến để chia sẻ với sinh viên Mỏ Địa Chất để sinh viên Mỏ ngày càng học tập tốt,năng động và có những định hướng,suy nghĩ tích cực hơn trong cuộc sống.<br><br><br>
								Địa chỉ: Không gian sách - Sảnh C12 tầng<br>
								Liên hệ: 0123456789<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
<script type="text/javascript" src="/publics/jquery.fullpage.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	
	// scroll page
	var device = $( window ).width();
	if(device >= "768") {
		$('#home').fullpage({
			paddingTop: "110px",
			paddingBottom: "50px",
			sectionsColor : ['rgb(47, 161, 37)', 'rgb(65, 140, 252)', '#d94e4e', 'rgb(162, 84, 163)'],
			navigation: true,
			navigationPosition: 'right',
		});
	}

	Request('/public/homepage')
		.then(function(response){
			// for book
			if(response.data.book){
				var bookContent = "";
				if(response && response.data && response.data.book && response.data.book.intro && response.data.book.intro.length > 1000) {
					bookContent = response.data.book.intro.slice(0, 1000) + "... <a href='#' class='link-white'>Xem thêm</a>";
				} else {
					bookContent = response.data.book.intro;
				}

				$("#bookContent").html(bookContent);
				$("#bookName").html(response.data.book.name);
				$("#bookImage").css({
					"background": "url(" + response.data.book.image + ")",
					"background-size": "contain",
					"background-repeat": "no-repeat",
					"background-position": "center"
				});

				if(response.data.book.author) {
					$("#bookArt").html("Tác giả: " + response.data.book.author);
				}
			}
			$(".blockUI").hide();
		});
});
	</script>